[global]
; 回复功能开关，ON为开启，需要打开才能自动回复
reply_switch = ON

; 讯飞大模型的APPID、API_SECRET、API_KEY，需要去讯飞开放平台注册并获取
[model.xunfei]
appid = 你的APPID
api_secret = 你的API_SECRET
api_key = 你的API_KEY

[persistent]
; 已回复评论标记的持久化方式
; simple：简单标记模式，即在根目录创建一个markedfile文件
; mysql：连接mysql进行标记
; delegate：委托标记策略，委托其他服务进行标记
strategy = simple